services:
  app:
    container_name: mcb-website
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./public/gallery:/app/public/gallery
