@import "tailwindcss";

@theme {
  --color-uksw-blue: #0077CC;
  --color-uksw-blue-hover: #005FA3;
  --color-uksw-blue-light: #E0F2FF;
}

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gray-900;
}